*{

}
.wrapper{
  width: 1000px;
  height: auto;
  background-color: #DDDFD4;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.header{
  background-color: #2FB1AC;
  width: 920px;
  height: 100px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 10px;
}
.title{
  display: inline-block;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #2FB1AC;
  font-family: courier;
  color: black;
}
img{
  background-color: #2FB1AC;
  display: inline-block;
  padding: 8px 0px 0px 0px;
  width: 40px;
  height: 40px;
}
.title h1{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: inline-block;
}
.tabs{
  display: inline-block;
  margin: 0px 0px 0px 80px;
  padding: 0px 0px 0px 0px;
}
.tabs p{
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 5px 0px 0px;
  text-decoration: underline;
}
.container{
  background-color: #FBE59A;
  margin: 20px auto 20px auto;
  width: 930px;
  height: 800px;
}
.col1{
  background-color: #124043;
  margin: 20px 5px 20px 20px;
  width: 210px;
  height: 730px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}
.col1 h1{
  padding: 5px 5px 5px 5px;
  font-size: 24px;
}
.col1 p{
  padding: 0px 15px 0px 15px;
}
.col2{
  background-color: #FBE59A;
  margin: 20px 5px 20px 10px;
  width: 650px;
  height: 630px;
  display: inline-block;
  vertical-align: top;
}
.row1{
  background-color: #FBE59A;
  margin: 5px 5px 5px 5px;
  width: 640px;
  height: 230px;
  display: inline-block;
}
.row2{
  background-color:#FBE59A;
  margin: 5px 5px 5px 5px;
  width: 640px;
  height: 230px;
  display: inline-block;
}
.row3{
  background-color: #FBE59A;
  margin: 5px 5px 5px 5px;
  width: 640px;
  height: 230px;
  display: inline-block;
}
.box1{
  background-color: #124043;
  margin: 5px 5px 5px 5px;
  width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
}
.box2{
  background-color: #124043;
  margin: 5px 5px 5px 10px;
  width: 300px;
  height: 220px;
  display: inline-block;
}
.box3{
  background-color: #124043;
  margin: 20px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  width: 630px;
  height: 200px;
  display: inline-block;
}
.box1 h3{
  padding: 0px 5px 0px 5px;
}
.box1 p{
  padding: 0px 10px 0px 10px;
}
.box2 h3{
  padding: 0px 5px 0px 5px;
}
.box2 p{
  padding: 0px 10px 0px 10px;
}
.box3 h3{
  padding: 0px 5px 0px 5px;
}
.box3 p{
  padding: 0px 10px 0px 10px;
}
span{
  color: #00D4C2;
}
.footer{
  background-color: #2FB1AC;
  width: 900px;
  height: 80px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 10px;
  text-align: center;
}
.footer p{
  text-align: center;
  padding: 30px 0px 0px 0px;
  color: black;
}
.footer span{
  color: blue;
  text-decoration: underline;
}
